---
triple:          'arm64-apple-darwin'
binary-path:     '/Users/admin/Library/Developer/Xcode/DerivedData/MobileSDKs-cwitlnobnjydkrgezoczllpmunkg/Build/Intermediates.noindex/ArchiveIntermediates/SDKConfigurations-Release/InstallationBuildProductsLocation/Library/Frameworks/SDKConfigurations.framework/SDKConfigurations'
relocations:
  - { offsetInCU: 0x33, offset: 0x72C, size: 0x8, addend: 0x0, symName: _SDKConfigurationsVersionString, symObjAddr: 0x0, symBinAddr: 0x7130, symSize: 0x0 }
  - { offsetInCU: 0x67, offset: 0x760, size: 0x8, addend: 0x0, symName: _SDKConfigurationsVersionNumber, symObjAddr: 0x40, symBinAddr: 0x7170, symSize: 0x0 }
  - { offsetInCU: 0x4C, offset: 0x7C1, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO8rawValueACSgSi_tcfC', symObjAddr: 0x0, symBinAddr: 0x3790, symSize: 0x10 }
  - { offsetInCU: 0x69, offset: 0x7DE, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO03_nsC6DomainSSvgZ', symObjAddr: 0x10, symBinAddr: 0x37A0, symSize: 0x1C }
  - { offsetInCU: 0x8F, offset: 0x804, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO8rawValueSivg', symObjAddr: 0x2C, symBinAddr: 0x37BC, symSize: 0x4 }
  - { offsetInCU: 0xCE, offset: 0x843, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOSYAASY8rawValuexSg03RawE0Qz_tcfCTW', symObjAddr: 0x138, symBinAddr: 0x38C8, symSize: 0x18 }
  - { offsetInCU: 0xFD, offset: 0x872, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOSYAASY8rawValue03RawE0QzvgTW', symObjAddr: 0x150, symBinAddr: 0x38E0, symSize: 0xC }
  - { offsetInCU: 0x118, offset: 0x88D, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation15_BridgedNSErrorAadEP03_nsC6DomainSSvgZTW', symObjAddr: 0x1C4, symBinAddr: 0x3954, symSize: 0x1C }
  - { offsetInCU: 0x165, offset: 0x8DA, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC7configsSayAA13Configuration_pGvgTo', symObjAddr: 0x224, symBinAddr: 0x39B4, symSize: 0x74 }
  - { offsetInCU: 0x19F, offset: 0x914, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC7configsSayAA13Configuration_pGvg', symObjAddr: 0x298, symBinAddr: 0x3A28, symSize: 0x48 }
  - { offsetInCU: 0x1EC, offset: 0x961, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC7configsSayAA13Configuration_pGvsTo', symObjAddr: 0x2E0, symBinAddr: 0x3A70, symSize: 0x70 }
  - { offsetInCU: 0x254, offset: 0x9C9, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC7configsACSayAA13Configuration_pG_tcfC', symObjAddr: 0x350, symBinAddr: 0x3AE0, symSize: 0x70 }
  - { offsetInCU: 0x28B, offset: 0xA00, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC7configsACSayAA13Configuration_pG_tcfc', symObjAddr: 0x3C0, symBinAddr: 0x3B50, symSize: 0x70 }
  - { offsetInCU: 0x2B1, offset: 0xA26, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC7configsACSayAA13Configuration_pG_tcfcTo', symObjAddr: 0x430, symBinAddr: 0x3BC0, symSize: 0x8C }
  - { offsetInCU: 0x2F0, offset: 0xA65, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCACycfC', symObjAddr: 0x4BC, symBinAddr: 0x3C4C, symSize: 0x20 }
  - { offsetInCU: 0x30D, offset: 0xA82, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCACycfc', symObjAddr: 0x4DC, symBinAddr: 0x3C6C, symSize: 0x2C }
  - { offsetInCU: 0x36A, offset: 0xADF, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCACycfcTo', symObjAddr: 0x508, symBinAddr: 0x3C98, symSize: 0x2C }
  - { offsetInCU: 0x3CC, offset: 0xB41, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCfD', symObjAddr: 0x534, symBinAddr: 0x3CC4, symSize: 0x34 }
  - { offsetInCU: 0x427, offset: 0xB9C, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCfETo', symObjAddr: 0x568, symBinAddr: 0x3CF8, symSize: 0x10 }
  - { offsetInCU: 0x454, offset: 0xBC9, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC10startIndexSivgTo', symObjAddr: 0x578, symBinAddr: 0x3D08, symSize: 0x8 }
  - { offsetInCU: 0x46F, offset: 0xBE4, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC10startIndexSivg', symObjAddr: 0x580, symBinAddr: 0x3D10, symSize: 0x8 }
  - { offsetInCU: 0x4DC, offset: 0xC51, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC8endIndexSivgTo', symObjAddr: 0x588, symBinAddr: 0x3D18, symSize: 0xA4 }
  - { offsetInCU: 0x559, offset: 0xCCE, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC8endIndexSivg', symObjAddr: 0x62C, symBinAddr: 0x3DBC, symSize: 0x84 }
  - { offsetInCU: 0x5C1, offset: 0xD36, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC6insertyyAA13Configuration_pF', symObjAddr: 0x6B0, symBinAddr: 0x3E40, symSize: 0x2C }
  - { offsetInCU: 0x60E, offset: 0xD83, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC6insertyyAA13Configuration_pFTo', symObjAddr: 0x6DC, symBinAddr: 0x3E6C, symSize: 0xE4 }
  - { offsetInCU: 0x705, offset: 0xE7A, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCyAA13Configuration_pSicigTo', symObjAddr: 0x7C0, symBinAddr: 0x3F50, symSize: 0xC0 }
  - { offsetInCU: 0x7B4, offset: 0xF29, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCyAA13Configuration_pSicig', symObjAddr: 0x880, symBinAddr: 0x4010, symSize: 0x98 }
  - { offsetInCU: 0x893, offset: 0x1008, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC7forTypexSgxm_tcAA13ConfigurationRzluig', symObjAddr: 0x918, symBinAddr: 0x40A8, symSize: 0x170 }
  - { offsetInCU: 0x9DB, offset: 0x1150, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC7forTypexSgxm_tcAA13ConfigurationRzluigSbAaF_pXEfU_', symObjAddr: 0xA88, symBinAddr: 0x4218, symSize: 0x70 }
  - { offsetInCU: 0xA17, offset: 0x118C, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC5index5afterS2i_tF', symObjAddr: 0xAF8, symBinAddr: 0x4288, symSize: 0x10 }
  - { offsetInCU: 0xA59, offset: 0x11CE, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC24addDefaultConfigIfNeeded6ofTypeyxm_tAA13ConfigurationRzlF', symObjAddr: 0xB08, symBinAddr: 0x4298, symSize: 0x58 }
  - { offsetInCU: 0xAB2, offset: 0x1227, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC24addDefaultConfigIfNeededyyAA13Configuration_pF', symObjAddr: 0xB60, symBinAddr: 0x42F0, symSize: 0xA8 }
  - { offsetInCU: 0xB4F, offset: 0x12C4, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC24addDefaultConfigIfNeededyyAA13Configuration_pFTo', symObjAddr: 0xC08, symBinAddr: 0x4398, symSize: 0xD0 }
  - { offsetInCU: 0xBB2, offset: 0x1327, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl10startIndex0D0QzvgTW', symObjAddr: 0xCD8, symBinAddr: 0x4468, symSize: 0x8 }
  - { offsetInCU: 0xBCD, offset: 0x1342, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl8endIndex0D0QzvgTW', symObjAddr: 0xCE0, symBinAddr: 0x4470, symSize: 0x94 }
  - { offsetInCU: 0xC5E, offset: 0x13D3, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASly7ElementQz5IndexQzcirTW', symObjAddr: 0xD74, symBinAddr: 0x4504, symSize: 0x40 }
  - { offsetInCU: 0xC95, offset: 0x140A, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASly7ElementQz5IndexQzcirTW.resume.0', symObjAddr: 0xDB4, symBinAddr: 0x4544, symSize: 0x24 }
  - { offsetInCU: 0xCF3, offset: 0x1468, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl5index5after5IndexQzAG_tFTW', symObjAddr: 0x1094, symBinAddr: 0x4824, symSize: 0x18 }
  - { offsetInCU: 0xD60, offset: 0x14D5, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC12arrayLiteralAcA13Configuration_pd_tcfC', symObjAddr: 0x1344, symBinAddr: 0x4AD4, symSize: 0x70 }
  - { offsetInCU: 0xDEE, offset: 0x1563, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCs25ExpressibleByArrayLiteralAAsADP05arrayF0x0eF7ElementQzd_tcfCTW', symObjAddr: 0x13B4, symBinAddr: 0x4B44, symSize: 0x80 }
  - { offsetInCU: 0xE7C, offset: 0x15F1, size: 0x8, addend: 0x0, symName: '_$sSa15replaceSubrange_4withySnySiG_qd__nt7ElementQyd__RszSlRd__lF17SDKConfigurations13Configuration_p_s15CollectionOfOneVyAfG_pGTg5', symObjAddr: 0x1434, symBinAddr: 0x4BC4, symSize: 0x10C }
  - { offsetInCU: 0xF72, offset: 0x16E7, size: 0x8, addend: 0x0, symName: '_$sSa20_reserveCapacityImpl07minimumB013growForAppendySi_SbtF17SDKConfigurations13Configuration_p_Tg5', symObjAddr: 0x1540, symBinAddr: 0x4CD0, symSize: 0xBC }
  - { offsetInCU: 0x109C, offset: 0x1811, size: 0x8, addend: 0x0, symName: '_$ss20_ArrayBufferProtocolPsE15replaceSubrange_4with10elementsOfySnySiG_Siqd__ntSlRd__7ElementQyd__AGRtzlFs01_aB0Vy17SDKConfigurations13Configuration_pG_s010CollectionH3OneVyAlM_pGTg5', symObjAddr: 0x15FC, symBinAddr: 0x4D8C, symSize: 0x2D0 }
  - { offsetInCU: 0x128F, offset: 0x1A04, size: 0x8, addend: 0x0, symName: '_$ss12_ArrayBufferV20_consumeAndCreateNew14bufferIsUnique15minimumCapacity13growForAppendAByxGSb_SiSbtF17SDKConfigurations13Configuration_p_Tg5', symObjAddr: 0x18CC, symBinAddr: 0x505C, symSize: 0x14C }
  - { offsetInCU: 0x13F8, offset: 0x1B6D, size: 0x8, addend: 0x0, symName: '_$ss12_ArrayBufferV19_getElementSlowPathyyXlSiF17SDKConfigurations13Configuration_p_Tg5', symObjAddr: 0x1A18, symBinAddr: 0x51A8, symSize: 0x1FC }
  - { offsetInCU: 0x1445, offset: 0x1BBA, size: 0x8, addend: 0x0, symName: '_$ss32_copyCollectionToContiguousArrayys0dE0Vy7ElementQzGxSlRzlF17SDKConfigurations14ConfigurationsC_Tg5', symObjAddr: 0x1C14, symBinAddr: 0x53A4, symSize: 0xEC }
  - { offsetInCU: 0x1559, offset: 0x1CCE, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsC6insertyyAA13Configuration_pFTf4en_n', symObjAddr: 0x1D00, symBinAddr: 0x5490, symSize: 0xB0 }
  - { offsetInCU: 0x1605, offset: 0x1D7A, size: 0x8, addend: 0x0, symName: ___swift_instantiateConcreteTypeFromMangledName, symObjAddr: 0x1DB0, symBinAddr: 0x5540, symSize: 0x40 }
  - { offsetInCU: 0x1618, offset: 0x1D8D, size: 0x8, addend: 0x0, symName: '_$ss29getContiguousArrayStorageType3fors01_bcD0CyxGmxm_tlF17SDKConfigurations13Configuration_p_Tg5Tf4d_n', symObjAddr: 0x1DF0, symBinAddr: 0x5580, symSize: 0xC }
  - { offsetInCU: 0x1643, offset: 0x1DB8, size: 0x8, addend: 0x0, symName: '_$ss22_ContiguousArrayBufferV19_uninitializedCount15minimumCapacityAByxGSi_SitcfC17SDKConfigurations13Configuration_p_Tg5Tf4nnd_n', symObjAddr: 0x1DFC, symBinAddr: 0x558C, symSize: 0x80 }
  - { offsetInCU: 0x16C4, offset: 0x1E39, size: 0x8, addend: 0x0, symName: '_$ss12_ArrayBufferV13_copyContents8subRange12initializingSpyxGSnySiG_AFtF17SDKConfigurations13Configuration_p_Tg5Tf4nng_n', symObjAddr: 0x1E7C, symBinAddr: 0x560C, symSize: 0x118 }
  - { offsetInCU: 0x17A0, offset: 0x1F15, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOSHAASQWb', symObjAddr: 0x20B8, symBinAddr: 0x5848, symSize: 0x4 }
  - { offsetInCU: 0x17B3, offset: 0x1F28, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOACSQAAWl', symObjAddr: 0x20BC, symBinAddr: 0x584C, symSize: 0x44 }
  - { offsetInCU: 0x17C6, offset: 0x1F3B, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation09LocalizedC0AAs0C0PWb', symObjAddr: 0x2100, symBinAddr: 0x5890, symSize: 0x4 }
  - { offsetInCU: 0x17D9, offset: 0x1F4E, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOACs0C0AAWl', symObjAddr: 0x2104, symBinAddr: 0x5894, symSize: 0x44 }
  - { offsetInCU: 0x17EC, offset: 0x1F61, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation15_BridgedNSErrorAaD021_ObjectiveCBridgeableC0PWb', symObjAddr: 0x2148, symBinAddr: 0x58D8, symSize: 0x4 }
  - { offsetInCU: 0x17FF, offset: 0x1F74, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOAC10Foundation021_ObjectiveCBridgeableC0AAWl', symObjAddr: 0x214C, symBinAddr: 0x58DC, symSize: 0x44 }
  - { offsetInCU: 0x1812, offset: 0x1F87, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation15_BridgedNSErrorAASHWb', symObjAddr: 0x2190, symBinAddr: 0x5920, symSize: 0x4 }
  - { offsetInCU: 0x1825, offset: 0x1F9A, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOACSHAAWl', symObjAddr: 0x2194, symBinAddr: 0x5924, symSize: 0x44 }
  - { offsetInCU: 0x1838, offset: 0x1FAD, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation15_BridgedNSErrorAASYWb', symObjAddr: 0x21D8, symBinAddr: 0x5968, symSize: 0x4 }
  - { offsetInCU: 0x184B, offset: 0x1FC0, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOACSYAAWl', symObjAddr: 0x21DC, symBinAddr: 0x596C, symSize: 0x44 }
  - { offsetInCU: 0x185E, offset: 0x1FD3, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation15_BridgedNSErrorAA8RawValueSY_s17FixedWidthIntegerPWT', symObjAddr: 0x2220, symBinAddr: 0x59B0, symSize: 0x4 }
  - { offsetInCU: 0x1871, offset: 0x1FE6, size: 0x8, addend: 0x0, symName: '_$sS2is17FixedWidthIntegersWl', symObjAddr: 0x2224, symBinAddr: 0x59B4, symSize: 0x44 }
  - { offsetInCU: 0x1884, offset: 0x1FF9, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation021_ObjectiveCBridgeableC0AAs0C0PWb', symObjAddr: 0x2268, symBinAddr: 0x59F8, symSize: 0x4 }
  - { offsetInCU: 0x1897, offset: 0x200C, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASTWb', symObjAddr: 0x226C, symBinAddr: 0x59FC, symSize: 0x4 }
  - { offsetInCU: 0x18AA, offset: 0x201F, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCACSTAAWl', symObjAddr: 0x2270, symBinAddr: 0x5A00, symSize: 0x44 }
  - { offsetInCU: 0x18BD, offset: 0x2032, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCMa', symObjAddr: 0x22B4, symBinAddr: 0x5A44, symSize: 0x20 }
  - { offsetInCU: 0x18D0, offset: 0x2045, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAA5IndexSl_SLWT', symObjAddr: 0x22D4, symBinAddr: 0x5A64, symSize: 0xC }
  - { offsetInCU: 0x18E3, offset: 0x2058, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAA7IndicesSl_SlWT', symObjAddr: 0x22E0, symBinAddr: 0x5A70, symSize: 0x2C }
  - { offsetInCU: 0x18F6, offset: 0x206B, size: 0x8, addend: 0x0, symName: ___swift_instantiateConcreteTypeFromMangledNameAbstract, symObjAddr: 0x230C, symBinAddr: 0x5A9C, symSize: 0x44 }
  - { offsetInCU: 0x1909, offset: 0x207E, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAA11SubSequenceSl_SlWT', symObjAddr: 0x2350, symBinAddr: 0x5AE0, symSize: 0x2C }
  - { offsetInCU: 0x191C, offset: 0x2091, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSTAA8IteratorST_StWT', symObjAddr: 0x237C, symBinAddr: 0x5B0C, symSize: 0x2C }
  - { offsetInCU: 0x192F, offset: 0x20A4, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOMa', symObjAddr: 0x23E8, symBinAddr: 0x5B78, symSize: 0x10 }
  - { offsetInCU: 0x1942, offset: 0x20B7, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOAC10Foundation15_BridgedNSErrorAAWl', symObjAddr: 0x2534, symBinAddr: 0x5CC4, symSize: 0x44 }
  - { offsetInCU: 0x1978, offset: 0x20ED, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOSQAASQ2eeoiySbx_xtFZTW', symObjAddr: 0x30, symBinAddr: 0x37C0, symSize: 0x14 }
  - { offsetInCU: 0x19F0, offset: 0x2165, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOSHAASH9hashValueSivgTW', symObjAddr: 0x44, symBinAddr: 0x37D4, symSize: 0x60 }
  - { offsetInCU: 0x1A47, offset: 0x21BC, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOSHAASH13_rawHashValue4seedS2i_tFTW', symObjAddr: 0xDC, symBinAddr: 0x386C, symSize: 0x5C }
  - { offsetInCU: 0x1A74, offset: 0x21E9, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOs0C0AAsADP9_userInfoyXlSgvgTW', symObjAddr: 0x1BC, symBinAddr: 0x394C, symSize: 0x4 }
  - { offsetInCU: 0x1A8F, offset: 0x2204, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOs0C0AAsADP19_getEmbeddedNSErroryXlSgyFTW', symObjAddr: 0x1C0, symBinAddr: 0x3950, symSize: 0x4 }
  - { offsetInCU: 0x1B5D, offset: 0x22D2, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASly11SubSequenceQzSny5IndexQzGcigTW', symObjAddr: 0xDD8, symBinAddr: 0x4568, symSize: 0x38 }
  - { offsetInCU: 0x1B8C, offset: 0x2301, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl7indices7IndicesQzvgTW', symObjAddr: 0xE10, symBinAddr: 0x45A0, symSize: 0x2C }
  - { offsetInCU: 0x1BA7, offset: 0x231C, size: 0x8, addend: 0x0, symName: '_$sSlsSIyxG7IndicesRtzrlE7indicesAAvg17SDKConfigurations14ConfigurationsC_Tg5', symObjAddr: 0xE3C, symBinAddr: 0x45CC, symSize: 0xA4 }
  - { offsetInCU: 0x1C3E, offset: 0x23B3, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl7isEmptySbvgTW', symObjAddr: 0xEE0, symBinAddr: 0x4670, symSize: 0x8C }
  - { offsetInCU: 0x1CCA, offset: 0x243F, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl30_customIndexOfEquatableElementy0D0QzSgSg0G0QzFTW', symObjAddr: 0xF6C, symBinAddr: 0x46FC, symSize: 0x10 }
  - { offsetInCU: 0x1D0F, offset: 0x2484, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl5index_8offsetBy5IndexQzAG_SitFTW', symObjAddr: 0xF7C, symBinAddr: 0x470C, symSize: 0x38 }
  - { offsetInCU: 0x1DAF, offset: 0x2524, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl5index_8offsetBy07limitedE05IndexQzSgAH_SiAHtFTW', symObjAddr: 0xFB4, symBinAddr: 0x4744, symSize: 0x34 }
  - { offsetInCU: 0x1DEC, offset: 0x2561, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl8distance4from2toSi5IndexQz_AHtFTW', symObjAddr: 0xFE8, symBinAddr: 0x4778, symSize: 0x58 }
  - { offsetInCU: 0x1E91, offset: 0x2606, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl20_failEarlyRangeCheck_6boundsy5IndexQz_SnyAGGtFTW', symObjAddr: 0x1040, symBinAddr: 0x47D0, symSize: 0x1C }
  - { offsetInCU: 0x1EDA, offset: 0x264F, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl20_failEarlyRangeCheck_6boundsy5IndexQz_SNyAGGtFTW', symObjAddr: 0x105C, symBinAddr: 0x47EC, symSize: 0x1C }
  - { offsetInCU: 0x1F23, offset: 0x2698, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl20_failEarlyRangeCheck_6boundsySny5IndexQzG_AHtFTW', symObjAddr: 0x1078, symBinAddr: 0x4808, symSize: 0x1C }
  - { offsetInCU: 0x1F56, offset: 0x26CB, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSlAASl9formIndex5aftery0D0Qzz_tFTW', symObjAddr: 0x10AC, symBinAddr: 0x483C, symSize: 0x18 }
  - { offsetInCU: 0x1FAF, offset: 0x2724, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSTAAST12makeIterator0D0QzyFTW', symObjAddr: 0x10C4, symBinAddr: 0x4854, symSize: 0xC }
  - { offsetInCU: 0x1FCA, offset: 0x273F, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSTAAST19underestimatedCountSivgTW', symObjAddr: 0x10D0, symBinAddr: 0x4860, symSize: 0x20 }
  - { offsetInCU: 0x1FE5, offset: 0x275A, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSTAAST31_customContainsEquatableElementySbSg0F0QzFTW', symObjAddr: 0x1178, symBinAddr: 0x4908, symSize: 0x8 }
  - { offsetInCU: 0x2014, offset: 0x2789, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSTAAST22_copyToContiguousArrays0eF0Vy7ElementQzGyFTW', symObjAddr: 0x1180, symBinAddr: 0x4910, symSize: 0x34 }
  - { offsetInCU: 0x2043, offset: 0x27B8, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSTAAST13_copyContents12initializing8IteratorQz_SitSry7ElementQzG_tFTW', symObjAddr: 0x11B4, symBinAddr: 0x4944, symSize: 0x20 }
  - { offsetInCU: 0x2056, offset: 0x27CB, size: 0x8, addend: 0x0, symName: '_$sSTsE13_copyContents12initializing8IteratorQz_SitSry7ElementQzG_tF17SDKConfigurations14ConfigurationsC_Tg5', symObjAddr: 0x11D4, symBinAddr: 0x4964, symSize: 0x150 }
  - { offsetInCU: 0x21EB, offset: 0x2960, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations14ConfigurationsCSTAAST32withContiguousStorageIfAvailableyqd__Sgqd__SRy7ElementQzGKXEKlFTW', symObjAddr: 0x1324, symBinAddr: 0x4AB4, symSize: 0x20 }
  - { offsetInCU: 0x226C, offset: 0x29E1, size: 0x8, addend: 0x0, symName: '_$sSTsE5first5where7ElementQzSgSbADKXE_tKFSay17SDKConfigurations13Configuration_pG_Tg5070$s17SDKConfigurations14ConfigurationsC24addDefaultConfigIfNeededyyAA13E15_pFSbAaE_pXEfU_AfG_pTf1cn_nTf4ng_n', symObjAddr: 0x1F94, symBinAddr: 0x5724, symSize: 0x124 }
  - { offsetInCU: 0x23B4, offset: 0x2B29, size: 0x8, addend: 0x0, symName: '_$sSlss5SliceVyxG11SubSequenceRtzrlEyACSny5IndexQzGcig17SDKConfigurations14ConfigurationsC_Tg5Tf4nn_g', symObjAddr: 0x240C, symBinAddr: 0x5B9C, symSize: 0xBC }
  - { offsetInCU: 0x2473, offset: 0x2BE8, size: 0x8, addend: 0x0, symName: '_$sSlsE5index_8offsetBy07limitedC05IndexQzSgAE_SiAEtF17SDKConfigurations14ConfigurationsC_Tg5Tf4nnnd_n', symObjAddr: 0x24C8, symBinAddr: 0x5C58, symSize: 0x6C }
  - { offsetInCU: 0x254D, offset: 0x2CC2, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOSHAASH4hash4intoys6HasherVz_tFTW', symObjAddr: 0xA4, symBinAddr: 0x3834, symSize: 0x38 }
  - { offsetInCU: 0x2568, offset: 0x2CDD, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation09LocalizedC0AadEP16errorDescriptionSSSgvgTW', symObjAddr: 0x15C, symBinAddr: 0x38EC, symSize: 0x4 }
  - { offsetInCU: 0x2583, offset: 0x2CF8, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation09LocalizedC0AadEP13failureReasonSSSgvgTW', symObjAddr: 0x160, symBinAddr: 0x38F0, symSize: 0x4 }
  - { offsetInCU: 0x259E, offset: 0x2D13, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation09LocalizedC0AadEP18recoverySuggestionSSSgvgTW', symObjAddr: 0x164, symBinAddr: 0x38F4, symSize: 0x4 }
  - { offsetInCU: 0x25B9, offset: 0x2D2E, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation09LocalizedC0AadEP10helpAnchorSSSgvgTW', symObjAddr: 0x168, symBinAddr: 0x38F8, symSize: 0x4 }
  - { offsetInCU: 0x25D4, offset: 0x2D49, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOs0C0AAsADP7_domainSSvgTW', symObjAddr: 0x16C, symBinAddr: 0x38FC, symSize: 0x28 }
  - { offsetInCU: 0x25EF, offset: 0x2D64, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorOs0C0AAsADP5_codeSivgTW', symObjAddr: 0x194, symBinAddr: 0x3924, symSize: 0x28 }
  - { offsetInCU: 0x260A, offset: 0x2D7F, size: 0x8, addend: 0x0, symName: '_$s17SDKConfigurations18ConfigurationErrorO10Foundation021_ObjectiveCBridgeableC0AadEP15_bridgedNSErrorxSgSo0H0Ch_tcfCTW', symObjAddr: 0x1E0, symBinAddr: 0x3970, symSize: 0x44 }
...
